h1{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    color: red;
    font-size: 20px;

}
span{
    color :green;
    font-size: 15px;

}
h1:hover{
    color:bisque;
    cursor:pointer;
    font-weight: 600;
}
p:hover{
    color:blue;
    cursor:grab;
    font-weight: 100;
}
span:hover{
    color:blueviolet;
    cursor:copy;
    font-weight: bold;
}
li:hover{
    color: beige;
    cursor:pointer;
}
img{
    width:300px;
    height:300px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);

}
.divhome{
    display:flex;
    flex-direction: :row;
}
.divprincipale{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.divsecond{
    margin-left: 3rem;

}